<!DOCTYPE html>
<html>
    <body>
        {% include 'main.html'  %}
        <h1>Welcome Everyone</h1>
        {% comment "this was the original welcome message" %}
        <h1>Welcome ladies and gentlemen</h1>
        {% endcomment %}
        <!-- variable creation in html template -->
        {% with firstname="MEri_Tech" %}
        <h1>Welcome to  {{ firstname }}</h1>
        {% endwith %}

        <h2>Fruits:</h2>
        <ul>
        {% if fruits %}
            {% for fruit in fruits %}
                <li>{{ fruit }}</li>
            {% endfor %}
        {% endif %}
        </ul>

        <h2>Members:</h2>
        <ul>
        {% if mymember %}
            {% for member in mymember %}
                <li>{{ member.firstname }} {{ member.lastname }}</li>
            {% endfor %}
        {% endif %}
        </ul>
        
        <p>In views.py you can check which fruit variables are.</p>
    </body>
</html>
{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>

{% for x in fruits %}
  <h1>{{ x }}</h1>
{% endfor %}

</body>
</html>

